<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1 class="text-center">all products</h1>
      <%= link_to "New", new_comment_path, class: "btn btn-primary btn-lg" %>
      <%= @doctors.first.id %>
      <% @comments.each do |comment| %>
        <div class="product">

          <div class="upvote-container" id="comment-<%= comment.id %>">
            <%= render 'upvotes/show', comment: comment %>
          </div>
          <% if comment.photo %>
            <%= cl_image_tag(comment.photo.path, height: 117, width: 175, crop: :fill, class: "product-image") %>

          <% else %>
            <img src="http://unsplash.it/300/200" alt="kudoz" class="product-image hidden-xs">
          <% end %>
          <div class='product-body'>
            <h3><%= comment.text %></h3>
            <p>User <%= comment.user_id %></p>
            <p>Doctor <%= comment.doctor_id %></p>
          </div>
          <ul class="list-inline product-controls hidden-sm hidden-xs">
            <li>
              <%= link_to comment_path(comment) do %>
                <i class="fa fa-eye"></i>
              <% end %>
            </li>
            <li>
              <% if can? :update, comment %>
                <%= link_to comment_path(comment), method: :delete do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              <% end %>
            </li>
            <li>
              <% if can? :update, comment %>
                <%= link_to edit_comment_path(comment) do %>
                  <i class="fa fa-pencil"></i>
                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
